@import "variables";
@import "productos";
@import "preguntas";
@import "nosotros";
@import "index";
@import "contacto";

* {
    margin: 0;
    padding: 0;
}

#body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img{
    max-width: 100%;
}



#menu{
    background-color: $fondo-rosa;
}

h1{
    font-size: $titulos-size;
    color: $rosa;
    text-align: $titulos-aligne;
    margin: $titulos-margin;
}

h5{
    color: $lila;
}

.link{
    color: $negro;
    text-decoration: none;
}